{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Article{% endblock %}


{% block content %}
    <h6>Publication date : {{ article.article_date }}</h6>
    <h4>{{ article.article_title|safe }}</h4>
    <p>{{ article.article_text|safe }}</p>
    <p><a href="/articles/addlike/{{ article.id }}/"><img src="{% static "img/FacebookLikeCropped.jpg" %} " height="25px" width="50px"></a> {{ article.article_likes }}</p>
    <hr>
    {% if username %}
    <form action="/articles/addcomment/{{ article.id }}/" method="post">
    {% csrf_token %}
        {{ form }}
    <div class="form-action" id="add_comment_button">
    <input type="submit" class="btn btn-info" value="Add comment">
    </div>
    </form>
        {% else %}
        <h4>Please login to leave a comment</h4>
    {% endif %}
    <p>Comments: </p>
    {% for comment in comments %}
        <p>{{ comment.comments_text|safe }}</p>
    {% endfor %}


{% endblock %}
