{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}MyBlog{% endblock %}


{% block content %}

    {% for article in articles %}
        <h6>Дата публикации: {{ article.article_date }}</h6>
        <h4><a href="/articles/{{ article.id }}">{{ article.article_title|safe }}</a></h4>
        <p>{{ article.article_text|truncatechars:400 |safe }}</p>
        <p><a href="/articles/addlike/{{ article.id }}/"><img src=" {% static "img/FacebookLikeCropped.jpg" %}" height="25px" width="50px"></a>  {{ article.article_likes }}</p>
        <hr>


    {% endfor %}


{% endblock %}
