#c {
	padding-top: 70px;
	
}

li a {
	font-size: 14;
}

#text {
    text-align: justify;
    padding-right: 70px;
}

#add_comment_button {
    padding-top: 20px;
    padding-left: 80px;
    padding-bottom: 50px;
}